<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5065752121-ue522gldkn3fcvvfvvlu0ufgjds9f8f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5065752121-ue522gldkn3fcvvfvvlu0ufgjds9f8f1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5065752121-ss8sl9ukqs2l2hj2ovv9l1be3ai5s02i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAUHUO4iWCA2ZdU2YPV28rouTo4B5veM0</string>
	<key>GCM_SENDER_ID</key>
	<string>5065752121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rangeenbilla.bms</string>
	<key>PROJECT_ID</key>
	<string>kkpr-676f4</string>
	<key>STORAGE_BUCKET</key>
	<string>kkpr-676f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5065752121:ios:803f47e3167800c8a817e8</string>
</dict>
</plist>